.addTopicPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
}

.addTopicPanel-input {
  flex: 3;
  align-self: center;
  margin-right: 1em;
}

.addTopicPanel-margins {
  flex: 2;
  align-self: center;
  margin-right: 1em;
}

@media only screen and (max-width: 600px) {
  .addTopicPanel {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1em;
  }

  .addTopicPanel-input {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  .addTopicPanel-margins {
    margin-bottom: 1em;
    margin-left: 1em;
  }
}

.list-item {
  position: relative;
}

.arrow {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 1;
  /* font-size: x-large; */
  color: #31708f;
}

.text-item {
  padding-right: 2%;
}
