.div-option {
  display: flex;
}
.button-opt {
  padding: 3%;
  margin: 2%;
  background-image: linear-gradient(to bottom,#008161 0,#419641 100%) !important;

}
.option {
  width: 20em !important;
  display: inline-flex;
}

.poll-div {
  padding-bottom: 5%;
}
