.topicListItem-item {
  cursor: pointer;
}
/* 
.topicListItem-votingPanel {
  display: none;
}
@media only screen and (max-width: 600px) {
} */
.topicListItem-votingPanel {
  display: inline;
}

.topicListItem-side{
  display: inline-block;
  margin-left: 1.7rem;
}

.topicListItem{
  margin: 0.5rem 0;
  text-shadow: 0.01rem 0.01rem blue;
}