.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.loader {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loader h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 10em;
  color: rgb(255, 255, 255, .1);
  background-image: url("./img/water3.png");
  /* background-size: 10%; */
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 25s linear infinite;
}

@keyframes animate
{
  0%
  {
    background-position: left 0px top 80px;
  }
  40%
  {
    background-position: left 800px top -50px;
  }
  80%
  {
    background-position: left 1800px top -50px;
  }
  100%
  {
    background-position: left 2400px top 80px;
  }
}

.flex-grid {
  display: flex;
  margin-bottom: 10rem;
  align-content: center;
}
.col {
  flex: 1;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #001a33;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.button:hover {background-color: #365382}

.button:active {
  background-color: #365382;
  transform: translateY(1px);
}

.charts-header {
  margin-bottom: 10rem;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10rem;

}

.flex-grid-thirds .col {
  width: 32%;
}


.charts-header {
  padding: 10px 16px;
  background: #001a33;
  color: #f1f1f1;
  font-weight: bold;
}

